body {
    font-family: Courier;
    margin: 0;
    padding: 40px;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-top: 30px;
}

select,
button {
    padding: 10px;
    margin: 5px;
}